    <!-- Footer -->
    <div id="footer">
        <%-HOOK_FOOTER%></div>
    <footer class="bs-docs-footer">
        <div class="container">
            <p class="m-0 text-center text-white">footer<br><span>网站备案号: 京ICP备17024754号-1</span></p>
        </div>
        <!-- /.container -->
    </footer>
</div>
</body>
</html>
