<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initialscale=1.0,maximumscale=1.0,user-scalable=no"></meta>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="referrer" content="no-referrer" /><!--页面头部添加-->

    <title><%= title %></title>
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">

    <link rel='stylesheet' href='/assets/css/global.css'/>
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="/assets/js/jquery.min.js"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/global.js"></script>
    <%- HOOK_HEADER %>
</head>
<body class="page_resource">
<!-- Header -->
<div id="header" class="navbar-fixed-container">
    <nav class="navbar navbar-inverse navbar-fixed-top affix-top" role="navigation">
        <div class="container">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand active" href="/">CMS系统</a>
                    <button type="button" class="navbar-toggle">
                        <span class="sr-only">切换导航</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="cms-navbar-collapse">
                    <%- HOOK_TOP %>
                </div>
            </div>
        </div>
    </nav>
</div>
<div class="content-wrapper">
    <div class="container" id="page">
