<!-- Block informations module -->
<div id="informations_block_left" class="block">
	<h4>Information</h4>
	<ul class="block_content">
		<% cmslinks.forEach(function(item, index){ %>
			<li><a href="<%=item.link %>" title="<%=item.meta_title %>"><%=item.meta_title %></a></li>
		<% }) %>
	</ul>
</div>
<!-- /Block informations module -->
