<% include ../../templates/_partials/header %>
<script src="/modules/blocksearch/search.js"></script>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <%= title %>
</div>
<% include ../../templates/_partials/footer %>
