
<!-- Left -->
<div id="left_column" class="column">
    <%- HOOK_LEFT_COLUMN %>
</div>
<!-- Center -->
<div id="center_column">
    <%- HOOK_HOME %>
</div>
<!-- Right -->
<div id="right_column" class="column">
    <%-HOOK_RIGHT_COLUMN %>
</div>
