
<!-- Left -->
<div id="left_column" class="column">
    <div class="row">
        <%- HOOK_LEFT_COLUMN %>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <img src="http://demo.jeecms.com/r/cms/www/default/images/ds_banner.png" width="100%"/>
    </div>
</div>
<!-- Center -->
<div id="center_column">
    <div class="row">
        <%- HOOK_HOME %>
    </div>
</div>

<!-- Right -->
<div id="right_column" class="column">
    <div class="row">
        <%-HOOK_RIGHT_COLUMN %>
    </div>
</div>
