<div class="col-md-3">
    <div class="panel">
        <div class="panel-heading">热门话题</div>
        <div class="panel-body">
            <% for (var i = 0; i<topics.length; i++){ %>
            <h5><a href="">. <%=topics[i]['title']%></a></h5>
            <% } %>
        </div>
    </div>
</div>
