<div class="col-md-4">
    <div class="panel panel-default">
        <div class="panel-heading">热门话题</div>
        <div class="panel-body">
            <% for (var i = 0; i<topics.length; i++){ %>
            <p><%=topics[i]['title']%></p>
            <% } %>
        </div>
    </div>
</div>
