<div class="col-md-12">
    <div class="footer-link">
            <% for (var i = 0; i<links.length; i++){ %>
            <a href="<%=links[i]['domain']%>" target="_blank"><%=links[i]['site_name']%></a>
            <% } %>
    </div>
</div>
